<nav class = "navbar">
  <%= link_to root_url, :class=> "brand-section" do %>
    <%= image_tag("logo.jpg", :class => "navbar-brand-logo")%>
    <p>The Coffee House</p>
  <% end %>

  <div class="links-section">
    <a href="/about">About Us</a>
    <a href="/branches">Our Branches</a>
    <% if current_user %>
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Sign Up", signup_path %>
    <% end %>
  </div>
</nav>
